/* Mobile View */

#profileWrapper {
    width: 100%;
    overflow-x: hidden;
}

.profilePictureWrapper {
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 2;

}

.profilePicture {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 50%;
    box-shadow: 0 0 3px #ccc;

}

article {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    margin-top: 30px;
    background-position: 50%;
    background-size: cover;
    color: white;
}

label{
    padding: 3px;
}

#inputLabel{
    color: black;
    text-decoration: underline;
}

.flexCenter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

article>p {
    text-align: center;
}

